* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}
.wrapper {
    display: flex;
    gap: 30px 30px;
    margin: 40px 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1;
    overflow: hidden;
    border-radius: 15px;
    background-color: #fbfbfb;
    flex-basis: calc(25% - 30px);
    display: flex;
    flex-direction: column;
}   
.item__image {
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item__image img {
    width: 100%;
    height: 100%;
}
.item__content {
    margin: 20px 0;
    flex-grow: 1;
}
.item__content h2 a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
.item__content span {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.75;
    color: rgb(85, 83, 83);
}
.item__des {
    display: flex;
    align-items: center;
}
.item__des-avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 15px;
    flex-shrink: 0;
}
.item__des-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.item__des-author {
    flex-grow: 1;
}
.item__des-author .author {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.25;
    color: #999;
}

/* Responsive */

@media (max-width: 991px) {
    .item {
        flex-basis: calc(calc(100% / 2) - 45px);
    }
}

@media (max-width: 650px) {
    .item {
        flex-basis: calc(100% - 60px);
    }
}